<template lang="pug">
  mast-head(:title="'404 Not Found'", :description="'Sorry, the page is not existed'")
</template>

<script>
import MastHead from '../components/MastHead'

export default {
  name: 'NotFound',
  components: { MastHead }
}
</script>
