<template lang="pug">
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
    .container
      router-link.navbar-brand.js-scroll-trigger(:to="{path: '/'}") DSquare Starter
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.my-2.my-lg-0
          li.nav-item
            router-link.nav-link.js-scroll-trigger(:to="{path: '/'}") Home
          li.nav-item
            router-link.nav-link.js-scroll-trigger(:to="{path: '/about'}") About
</template>

<script>
export default {
  name: 'BaseHeader'
}
</script>

<style lang="scss">
</style>
