<template lang="pug">
  div
    base-header
    router-view
    base-footer
</template>

<script>
import BaseHeader from './BaseHeader'
import BaseFooter from './BaseFooter'
export default {
  name: 'Base',
  components: { BaseFooter, BaseHeader }
}
</script>

<style lang="scss">

</style>
