<template lang="pug">
    footer.bg-light.py-5
        .container
            .small.text-center.text-muted Copyright © {{ year }} - DSquare Starter
</template>

<script>
    export default {
        name: 'BaseFooter',
        data() {
            return {
                year: (new Date).getFullYear(),
            }
        },
    }
</script>

<style scoped>

</style>
