<template>
  <div class="child-component"></div>
</template>
<script>
export default {
  name: 'child-component',
  inheritAttrs: false,
  mixins: [ 'singleErrorExtractorMixin' ],
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    initCounter: {
      type: Number,
      required: true,
      default: 0
    }
  },
  directives: {
    'v-sticky-menu': stickyDirective
  },
  filters: {
    currencydecimal (value) {
      return value.toFixed(2)
    }
  },
  computed: {
    fullName: {
      get () {
        return this.firstName + ' ' + this.lastName
      },
      set (newValue) {
        var names = newValue.split(' ')
        this.firstName = names[0]
        this.lastName = names[names.length - 1]
      }
    },
    inputListeners () {
      var vm = this
      return Object.assign({}, this.$listeners, {
        input (event) {
          vm.$emit('input', vm.$emit('input', event.target.value))
        }
      })
    }
  },
  watch: {
    question (newQuestion, oldQuestion) {
      this.answer = 'Waiting for you to stop typing...'
    }
  },
  methods: {
    addToCart () {
      this.$emit('add-to-cart')
    },
    getMap () {
      return false
    }
  },
  
}
</script>
