<template>
  <div class="demo-wrapper" v-sticky-menu:top="handleScroll">
    <child-component></child-component>
  </div>
</template>
<script>
import { stickyDirective } from './directives/Demo'

export default {
  name: 'demo-component',
  components: {
    ChildComponent: () => import('./ChildComponent')
  },
  data () {
    return {
      plans: ['The Single', 'The curious']
    }
  },
  provide: () => {
    return {
      getMap: this.getMap
    }
  },
  beforeRouteEnter (to, from, next) {
    getPageEvents (to, next)
  },
  beforeRouteUpdate (to, from, next) {
    getPageEvents (to, next)
  },
  created () {}, // to fetch some data for your component on initialization
  // mounted(): to access or modify the DOM of your component immediately before or after the initial render
  mounted () {
    const picker = new Pickaday()

    this.$once('hook:beforeDestroy', () => {
      picker.destroy()
    })
  },
  updated () {},
  destroyed () {}
}
</script>
<style lang="scss" scoped>
</style>
