<template lang="pug">
  div
    p(v-html="$t('verify_email_done', {email: 'example email'})")
    p.red-txt {{$tc('user', 2)}}
    img(src="/images/document.png" width="60")
    dropdown-button(text="My Button")
      li: a(href="#") Item 1
      li: a(href="#") Item 1
      li: a(href="#") Item 1
    //- search(ref="search" :searcher="searcher" :disabled="loading" @searched="searchBySearcher" @searcherInitialized="searchBySearcher")
</template>
<script>
import DropdownButton from "@/components/DropdownButton";
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
  name: "DashBoard",
  components: { DropdownButton },
  data() {
    return {
      loading: false,
      title: this.$t("actions.confirm"),
      message: "",
      confirmCallback: null,
      cancelCallback: null
    };
  },
  mounted() {
    this.$bus.on(
      "confirm",
      ({ title, message, confirmCallback, cancelCallback }) => {
        this.show(title, message, confirmCallback, cancelCallback);
      }
    );
  },
  methods: {
    ...mapActions({
      formDelete: "form/delete"
    }),
    init() {
      this.$refs.search.init();
    },
    show(title, message, confirmCallback, cancelCallback) {
      this.title = title ? title : this.$t("actions.confirm");
      this.message = message;
      this.confirmCallback = confirmCallback ? confirmCallback : null;
      this.cancelCallback = cancelCallback ? cancelCallback : null;
    },
    onEditClicked(form) {
      this.setForm({
        form: form
      });
      this.$router.push("/form/" + form.id + "/edit");
    },
    onBulkDeleteClicked() {
      this.$bus.emit("confirm", {
        message: this.$t("form_name"),
        confirmCallback: () => {
          this.loading = true;
          this.formDelete({
            ids: this.itemSelection.selected,
            doneCallback: () => {
              this.search();
            },
            errorCallback: err => {
              this.loading = false;
              this.$bus.emit("error", {
                messages: err.getMessages(),
                extra: err.getExtra()
              });
            }
          });
        }
      });
    }
  }
};
</script>