<template>
  <div class="dropdown" v-bind:class="{ open }">
    <button
      ref="button"
      type="button"
      :class="[ 'btn', btnClass, 'dropdown-toggle' ]"
      aria-haspopup="true"
      :aria-expanded="open ? 'true' : 'false'"
      @click="toggle"
      @keydown="keyDown"
    >{{ text }}</button>
    <div v-if="open" class="dropdown-backdrop" v-on:click="close"></div>
    <ul ref="menu" class="dropdown-menu" v-on:click="close" v-on:keydown="keyDown">
      <slot></slot>
    </ul>
  </div>
</template>
<script>
export default {
  name: "DropdownButton",
  props: {
    btnClass: { type: String, default: "btn-default" },
    text: String
  },
  data() {
    return {
      open: false
    };
  },
  methods: {
    toggle() {
      this.open = !this.open;
    },
    close() {
      this.open = false;
    },
    keyDown(e) {
      if (e.keyCode === 38 || e.keyCode === 40) {
        // up and down keys
        if (!this.open) {
          this.open = true;
        } else {
          const items = this.$refs.menu.querySelectorAll("li a");
          if (items.length > 0) {
            let index = Array.prototype.indexOf.call(items, e.target);
            if (e.keyCode === 38 && index > 0) index--;
            else if (e.keyCode === 40 && index < items.length - 1) index++;
            if (index < 0) index = 0;
            items[index].focus();
          }
        }
        e.preventDefault();
      } else if (e.keyCode === 27) {
        // Esc key
        this.$refs.button.focus();
        this.close();
      }
    }
  }
};
</script>