<template lang="pug">
  header.masthead
    .container.h-100
      .row.h-100.align-items-center.justify-content-center.text-center
        .col-lg-10.align-self-end
          h1.text-white.font-weight-bold {{ title }}
          hr.divider.my-4
        .col-lg-8.align-self-baseline
          p.text-white-75.font-weight-light.mb-5
            | {{ description }}
</template>

<script>
export default {
  name: 'MastHead',
  props: {
    title: String,
    description: String
  }
}
</script>
