<template lang="pug">
  #wrapper
    base-header
    .container-fluid
      router-view
    base-footer
    a.scroll-to-top
      i.fas.fa-angle-up
</template>
<script>
import BaseHeader from "./BaseHeader";
import BaseFooter from "./BaseFooter";
export default {
  name: "BaseMain",
  components: {
    BaseHeader,
    BaseFooter
  }
};
</script>