<!DOCTYPE html>
<html <?php language_attributes(); ?>>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" href="<%= BASE_URL %>favicon.ico">
	<title>DSquare Starter</title>
	<link rel="stylesheet" href="<%= BASE_URL %>vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic">
	<link rel="stylesheet" href="<%= BASE_URL %>vendor/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="<%= BASE_URL %>css/creative.min.css">
	<?php wp_head(); ?>
	<!-- built files will be auto injected -->
</head>
<body>
	<noscript>
		<strong>We're sorry but dsuare doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<script src="<%= BASE_URL %>vendor/jquery/jquery.min.js"></script>
	<script src="<%= BASE_URL %>vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="<%= BASE_URL %>vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="<%= BASE_URL %>vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<?php wp_footer(); ?>
	<!-- built files will be auto injected -->
</body>
</html>