<template>
  <div class="router-ex">
    <ul class="us__nav">
      <router-link to="/" exact>
      <!-- <a> will get the correct href, but the active class will be applied to the outer <li> -->
      <router-link tag="li" to="/settings/emails"><a>emails</a></router-link><br>
      <router-link tag="li" to="/settings/profile"><a>profile</a></router-link>
      <!-- with query, resulting in `/register?plan=private` -->
      <router-link :to="{ path: 'register', query: { plan: 'private' }}">Register</router-link>
      <router-link
        tag="li"
        to="{ name: 'user', params: { userId: 123 }}"
        active-class=""
        replace
        append
        exact
      >
        <a>Links</a>
      </router-link>
    </ul>

    <transition-group :name="transitionName" mode="out-in" @after-leave="afterLeave">
      <keep-alive>
        <!-- to display multiple views at the same time instead of nesting them
          name: will render the component with the corresponding name in the matched route record's components 
          NOTE: With "named routes", if we need to change the URL path later, we only have to change it in one place
        -->
        <router-view name="profile" class ="us__content"></router-view>
        <router-view name="helper" class ="us__content"></router-view>
      </keep-alive>
    </transition-group>

    <pre>{{ JSON.stringify($route, null, 2) }}</pre>  
  </div>
</template>
<script>
export default {
  props: ['id'],
  data () {
    return {
      loading: false,
      post: null,
      error: null
    }
  },
  components: { 'UserSettingsNav' },
  template: '<div> User is: {{$route.params.id + "; " + id}}</div>',
  beforeRouteEnter (to, from, next) { 
    getPost(to.params.id, (err, post) => {
      next(vm => vm.setData(err, post))
    }) 
  },
  beforeRouteUpdate(to, from, next) {
    this.post = null
    getPost(to.params.id, (err, post) => {
      this.setData(err, post)
      next()
    })
  },
  beforeRouteLeave (to, from, next) { 
    next()
  },
  created () {
    this.fetchData()
  },
  methods: {
    setData (err, post) {
      if (err) {
        this.error = err.toString()
      } else {
        this.post = post
      }
    },
    fetchData () {
      this.error = this.post = null
      this.loading = true
      getPost (this.$route.params.id, (err, post) => {
        this.loading = false
        this.setData(err, post)
      })
    },
    afterLeave () {
      this.$root.$emit('triggerScroll')
    },
    goBack () {
      // go back by one record, the same as history.back()
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
    }
  },
  watch: {
    // in the parent component, watch the `$route` to determine the transition to use
    '$route' (to, from) {
      const toDepth = to.path.split('/').length
      const fromDepth = from.path.split('/').length
      this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
    }
  }
}
</script>
