<template lang="pug">
  section#about.page-section.bg-primary
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.text-white.mt-0 We've got what you need!
          hr.divider.light.my-4
          p.text-white-50.mb-4
            | DSquare Starter has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!
          a.btn.btn-light.btn-xl.js-scroll-trigger(href='https://dsquare.com.vn') Get Started!
</template>

<script>
export default {
  name: 'About'
}
</script>
