<template lang="pug">
  div
    mast-head(:title="'DSquare Starter WP Theme'", :description="'A theme based on Vue.js for Wordpress'")
    section#contact.page-section
      .container
        .row.justify-content-center
          .col-lg-8.text-center
            h2.mt-0 Let's Get In Touch!
            hr.divider.my-4
            p.text-muted.mb-5
              | Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!
        .row
          .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
            i.fas.fa-phone.fa-3x.mb-3.text-muted
            div +84 975 783 771
          .col-lg-4.mr-auto.text-center
            i.fas.fa-envelope.fa-3x.mb-3.text-muted
            a.d-block(href='mailto:tuanlinh.nguyen@dsquare.com.vn') tuanlinh.nguyen@dsquare.com.vn
</template>

<script>
import TestService from '../../services/test'
import MastHead from '../components/MastHead'

export default {
  name: 'Home',
  components: { MastHead },
  data () {
    return {
      testService: new TestService()
    }
  },
  mounted () {
    this.callTestService()
  },
  methods: {
    callTestService (data, err) {
      console.log('callTestService')
      this.testService.foo(
        {},
        data => {
          console.log('done')
          console.log(data)
        },
        // eslint-disable-next-line
        err => {
          console.log('err')
          console.log(data)
        },
        () => {
          console.log('finally')
        }
      )
    }
  }
}
</script>
