<template lang="pug">
  #app
    img(width="36px" src="./assets/logo.png")
    BaseMain
</template>

<script>
import BaseMain from "@/views/layout/BaseMain";
// import './../node_modules/jquery/dist/jquery.min.js';
// import './../node_modules/bootstrap/dist/css/bootstrap.min.css';
// import './../node_modules/bootstrap/dist/js/bootstrap.min.js';
export default {
  name: "App",
  components: {
    BaseMain
  }
};
</script>

<style lang="scss">
@import "./assets/scss/style.scss";
</style>
