@import "./_variable.scss";

body{
  color: $color-base; 
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.red-txt{ 
  color: red; 
  &:after{
    content: '';
    display: inline-block; vertical-align: middle;
    width: 30px; height: 30px;
    background: url("/images/document.png") no-repeat;
    background-size: cover;
  }
}