<template>
  <form>
    <input type="text" v-model="emailValue"/>
    <p v-if="!$v.emailValue.required">The email field is required!</p>
    <p v-if="!$v.emailValue.email">The input must be a proper email!</p>
    <button @click="$v.$touch()">
      Submit
    </button>
  </form>
</template>

<script>
import { required, email, sameAs } from 'vuelidate/lib/validations'
import { validationMixin } from 'vuelidate';
import {templates} from 'vuelidate-error-extractor';
import { MatchValidator } from './match-validator';

const localMessages = {
  required: '{attribute} is required, you should check it again',
  required_phone: 'The {attribute} field is required',
  sameAsPassword: 'You have to fill same password'
}

export default {
  data() {
    return {
      form: {
        emailValue: '',
        inputField: ''
      }
    }
  },
  componentst: { FormWrapper: templates.FormWrapper, },
  mixins: [validationMixin],
  validations: {
    form: {
      emailValue: { required, email },
      inputField: { MatchValidator: MatchValidator('rupert') },
      pass: { required },
      confirmPass: { sameAsPassword: sameAs('pass') }
    }
  },
  methods: {
    submit() {
      this.$v.form.$touch()
      // to perform some action when a component & all its children are mounted and available in the DOM
      this.$nextTick(() => console.log('nextstick'))
      // if its still pending or an error is returned do not submit
      if (this.$v.form.$pending || this.$v.form.$error) return;
    },
  }
}
</script>